#navbar{
    height: 180px;
}

#navbar-container{
    flex-direction: column;
    padding: 20px 0;
}

#navbar-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/* SHOWCASE */
#showcase-container{
    padding: 40px;
}

/* CLIENTES */
#clients-container{
    grid-template-columns: repeat(2, 1fr);
}

.client{
    width: 50%;
}

/* SOBRE */
#features-container{
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2){
    margin: 15px 0;
}

/* PRODUTO */
#product-container{
    flex-direction: column;
}

#items{
    width: 90%;
}

.item{
    flex-direction: column;
    align-items: center;
}

/* TESTEMUNHOS */
.testimonial{
    flex-direction: column;
    text-align: center;
}

/* GALERIA */
#gallery{
    width: 90%;
    margin: auto;
    padding: 50px;
}

.img-wraper{
	width: 100%;
	padding: 15px 0;/*para a altura ser igual a largura*/
	position: static;
    border: 0;
}

img.gallery-image{
	position: inherit;
    height: 100%;
}