/* menu mobile */ 
#navbar-mobile{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    background-color: #222;
    border-radius: 0 0 0 50%;
}

#navbar-mobile > #navbar-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

#navbar-mobile > #navbar-container > .logo{
    color: white;
}

#navbar-items-mobile{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    flex-direction: column;
    text-align: right;
    width: 100%;
    color: white; 
}

#navbar-items-mobile li{
    padding-top: 50px;
}
/****
    Fim
        ****/


/* SHOWCASE */
#showcase-container{
    padding: 40px;
}

/* CLIENTES */
#clients-container{
    grid-template-columns: repeat(2, 1fr);
}

.client{
    width: 50%;
}

/* SOBRE */
#features-container{
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2){
    margin: 15px 0;
}

/* PRODUTO */
#product-container{
    flex-direction: column;
}

#items{
    width: 90%;
}

.item{
    flex-direction: column;
    align-items: center;
}

/* TESTEMUNHOS */
.testimonial{
    flex-direction: column;
    text-align: center;
}

/* GALERIA */
#gallery{
    width: 90%;
    margin: auto;
    padding: 50px;
}

.img-wraper{
	width: 100%;
	padding: 15px 0;/*para a altura ser igual a largura*/
	position: static;
    border: 0;
}

img.gallery-image{
	position: inherit;
    height: 100%;
}