@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/********** 
    Classes padrões para todo o site 
**********/
a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: #111;
    color: #eee;
    border-radius: 5px;
    transition: background-color 500ms ease;
}

.btn:hover{
    cursor: pointer;
    background-color: #000;
}

.headline{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 5px; /* é a separação entre as letras */
}
/********
    fim
*********/

/* Inicio do site - CABEÇALHO */
#navbar{
    width: 100%;
    background-color: #111;
    color: #eee;
    height: 80px;
}

#navbar-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between; /* para cada um ir para um lado */
    align-items: center;
}

.logo{
    font-size: 2rem;
}

#navbar-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li{
    padding: 10px;
}